boto3
click
hatanaka
jinja2
matplotlib
numpy
pandas # Pandas 3+ requires Python >=3.11, has some breaking changes. Left unpinned to allow both Python 3.10, and 3.11+ to use separate versions.
plotext==4.2
plotly
pyfakefs
pymongo
pytest
requests
scipy
tqdm
unlzw3
typing_extensions