boto3
click
hatanaka
jinja2
matplotlib
numpy
pandas==2.3.3 # Temporarily pinned in Jan 2026, while fixing our compatibility issues with Pandas 3
plotext==4.2
plotly
pyfakefs
pymongo
pytest
requests
scipy
tqdm
unlzw3
typing_extensions